<!DOCTYPE html>
<html>

<head>
  <title>banner部分</title>
  <meta charset="utf-8">
  <!-- 最新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <style media="screen">
    .shadow {
      position: fixed;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
      filter: alpha(opacity=30);
      left: 0;
      top: 0;
    }

    .mod_dialog {
      width: 100%;
      height: 100%;
      background: #fff;
      position: fixed;
      left: 0;
      top: 0;
    }

    td {
      vertical-align: middle !important;
    }
  </style>
</head>

<body>
  <div class="page">
    <%-include("./components/top.nav.ejs")%>
    <div class="content-wrap">
      <div>
        <form action="?" method="post" enctype="multipart/form-data" role="form">
          <label for="title"> 标题：</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="请输入标题内容" />

          <label for="second_title"> 二级标题：</label>
          <input type="text" name="second_title" id="second_title" class="form-control" placeholder="请输入二级标题内容" />

          <label for="description"> 描述：</label>
          <textarea name="description" id="description" class="form-control" rows="5" placeholder="输入描述内容"></textarea>

          <label for="f1"> 图片名称：</label>
          <input type="file" name="f1" id="f1" placeholder="选择文件" class="btn btn-primary" />

          <button type="submit" class="btn btn-default">添加</button>
        </form>
      </div>
      <table class="table table-striped table-bordered table-hover text-nowrap" id="geshi">
        <thead>
          <tr>
            <th>ID</th>
            <th>标题</th>
            <th>二级标题</th>
            <th>描述</th>
            <th>图片</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<banners.length;i++){ %>
            <tr>
              <td>
                <%=banners[i].ID%>
              </td>
              <td>
                <%=banners[i].title%>
              </td>
              <td>
                <%=banners[i].second_title%>
              </td>
              <td>
                <%=banners[i].description%>
              </td>
              <td>
                <img class="center-block" width="200px" height="auto" src="/upload/<%=banners[i].url%>" />
              </td>
              <td>
                <a class="btn btn-warning" href="?act=mod&id=<%=banners[i].ID%>">修改</a>
                <!-- <a class="btn btn-danger" href="?act=del&id=<%=banners[i].ID%>" onclick="return confirm('你真的要删吗？')">删除</a> -->
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% if(typeof mod_data!='undefined'){ %>
        <div class="shadow"></div>
        <div class="mod_dialog">
          <form action="?" method="post" enctype="multipart/form-data">
            <input type="hidden" name="mod_id" value="<%= mod_data.ID %>" />
            <br> 标题：
            <input type="text" name="title" value="<%= mod_data.title %>" class="form-control" />
            <br> 二级标题：
            <input type="text" name="second_title" value="<%= mod_data.second_title %>" class="form-control" />
            <br> 描述：
            <textarea name="description" class="form-control"><%= mod_data.description %></textarea>
            <br> 图片：
            <input type="file" name="f1" />
            <input class="btn btn-danger" type="submit" value="修改" />
            <a class="btn btn-warning" href="/admin/banners">取消修改</a>
          </form>
        </div>
        <% } %>
    </div>
  </div>
</body>

</html>